<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="controller_action_predispatch_sociallogin_popup_create">
        <observer name="msp_captcha" instance="MSP\ReCaptcha\Observer\Frontend\AjaxCreateObserver" />
    </event>
    <event name="controller_action_predispatch_sociallogin_popup_forgot">
        <observer name="msp_captcha" instance="MSP\ReCaptcha\Observer\Frontend\AjaxForgotPasswordObserver"/>
    </event>
</config>
